# üêç SQL + Python Full Challenge Notebook
This notebook contains exercises to practice **all core SQL concepts** using Python.

## Challenge 1: Setup Connection
Connect to a database (`students.db` for SQLite or Postgres if configured).

In [ ]:
import psycopg

try:
    conn = psycopg.connect(
        host="localhost",
        dbname="students",
        user="redaader",
        password="redaader",
        port=5432
    )
    print("Connection to PostgreSQL successful!")

except psycopg.Error as e:
    print(f"Error connecting to PostgreSQL: {e}")

Connection to PostgreSQL successful!

## Challenge 2: DDL - Create Tables
1. Create a table `students(id SERIAL PRIMARY KEY, name TEXT, age INT, grade TEXT)`
2. Create a table `courses(course_id SERIAL PRIMARY KEY, course_name TEXT)`
3. Create a table `enrollments(student_id INT, course_id INT)`

In [11]:
# TODO: CREATE TABLE ...

cur = conn.cursor()

students_table =  """
    CREATE TABLE IF NOT EXISTS students (
        id SERIAL PRIMARY KEY,
        name TEXT NOT NULL,
        age INT,
        grade TEXT
    );
    """
courses_table = """
    CREATE TABLE IF NOT EXISTS courses (
        course_id SERIAL PRIMARY KEY,
        course_name TEXT NOT NULL
    );
    """

enrollments_table = """
    CREATE TABLE IF NOT EXISTS enrollments (
        student_id INT REFERENCES students(id),
        course_id INT REFERENCES courses(course_id),
        PRIMARY KEY (student_id, course_id)
    );
    """

conn.commit()
print("Tables created successfully!")
cur.close()

Tables created successfully!

## Challenge 3: ALTER & DROP
1. Add a column `email TEXT` to `students`
2. Drop the column `email` (if supported)
3. Drop the `enrollments` table

In [ ]:
# TODO: ALTER TABLE ... / DROP TABLE ...

## Challenge 4: DML - Insert Data
Insert at least 5 students and 3 courses.

In [ ]:
# TODO: INSERT INTO students ...
# TODO: INSERT INTO courses ...

## Challenge 5: Update & Delete
1. Update a student‚Äôs grade
2. Delete a student by name

In [ ]:
# TODO: UPDATE ...
# TODO: DELETE ...

## Challenge 6: SELECT & WHERE
1. Select all students
2. Students older than 20
3. Students with grade 'A'

In [ ]:
# TODO: SELECT ... WHERE ...

## Challenge 7: ORDER BY & LIMIT
1. List students ordered by age (descending)
2. Show the top 3 oldest students

In [ ]:
# TODO: SELECT ... ORDER BY ... LIMIT ...

## Challenge 8: DISTINCT & LIKE
1. List distinct grades
2. Find students whose name contains 'ah'

In [ ]:
# TODO: SELECT DISTINCT ...
# TODO: SELECT ... LIKE ...

## Challenge 9: JOINS
1. Enroll students in courses (insert into enrollments)
2. Show each student with their enrolled courses
3. Show all courses with student counts

In [ ]:
# TODO: INNER JOIN, LEFT JOIN, COUNT ...

## Challenge 10: Aggregations
1. Find average student age
2. Count students per grade
3. Max & Min age

In [ ]:
# TODO: SELECT AVG, COUNT, MAX, MIN ...

## Challenge 11: GROUP BY & HAVING
1. Count students by grade
2. Show only grades with more than 2 students

In [ ]:
# TODO: SELECT ... GROUP BY ... HAVING ...

## Challenge 12: Subqueries
1. Find students older than the average age
2. Find courses that no student enrolled in

In [ ]:
# TODO: use SELECT inside SELECT

## Challenge 13: Views
1. Create a view `top_students` for students with grade 'A'
2. Query the view

In [ ]:
# TODO: CREATE VIEW ...
# TODO: SELECT FROM top_students

## Challenge 14: Indexes
1. Create an index on student name
2. Explain why indexes help queries

In [ ]:
# TODO: CREATE INDEX ...

## Challenge 15: Transactions
1. Insert multiple students in a transaction
2. Rollback if one insert fails

In [ ]:
# Example:
try:
    conn.execute('BEGIN')
    # multiple inserts here
    conn.commit()
except Exception as e:
    conn.rollback()

## Challenge 16: Functions (Advanced)
If using PostgreSQL:
1. Create a function that returns students count
2. Call it from Python

In [ ]:
# TODO: CREATE FUNCTION ...

## Challenge 17: Export & Import
1. Export students to CSV
2. Read CSV and insert back into DB

In [ ]:
import csv
# TODO: export SELECT results into students.csv
# TODO: read students.csv and insert into DB

## Challenge 18: Mini Project ‚Äî Student Management System
Implement menu options:
1. Add student
2. View all students
3. Update grade
4. Delete student
5. Show enrolled courses

In [ ]:
# TODO: Implement interactive loop